.fon{
    font-family: fantasy;
    margin-top:100px;
    margin-bottom: 50px;
    
}
.ash{
   background-color: #f3f3f3;
   font-family: fantasy;
   text-align: left;
   
}
.mid{
    margin-top: 100px;
    margin-left: 60px;
}
.m{
    margin-left: 60px;
}